@use "variables";

.page {
	background-color: variables.$backgroundColor;

	.main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		@media (max-width: 390) {
			& {
				gap: 1rem;
			}
		}

		section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2rem;

			@media (max-width: 390) {
				& {
					gap: 1rem;
				}
			}
		}

		.hr {
			all: unset;
			height: 1px;
			width: 24rem;

            @media (max-width: 390) {
			
                & {
                    width: 90%
                }
            }

			box-shadow: 0 0.25rem 0.25rem 0 #c1c1c1;
		}
	}
}
